.wrapper {
  background-color: #FFFFFF;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.defaultButton {
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  border-color: transparent;
  color: #FFFFFF;
  background-color: #8D80D1;
  height: 40px;
  width: 120px;
}

.title {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  color: #4B4A62
}

input {
  box-sizing: border-box;
  padding: 8px 26px 8px 19px;
  border-color: transparent;
  border-radius: 8px;
}

/* === HEADER === */
.header {
  background-color: #FFFFFF;
  min-height: 92px;
}

.header div {
  display: flex;
  padding: 16px 8px;
}

.upperToolbars {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.listUl {
  align-items: center;
  justify-content: space-evenly;
  height: 80px;
  width: 100%;
  max-width: 441px;
  color: #4B4A62;
}
.listUl ul {
  padding: 0;
  display: flex;
  gap: 20px;
  list-style: none;
}

.listUl li{
  color: #4B4A62;
  font-size: 16px;
}
.listUl li a {
  text-decoration: none;
  color: #4B4A62;
}


/* === MAIN === */
.main {
  margin: 0 auto;
  background-color: #FFFFFF;
  width: 1416px;
}

/* === welcomeGetDemo === */
.welcomeGetDemo {
  background-color: #F1F0F9;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.welcomeText h1 {
  display: inline;
  font-size: 48px;
  line-height: 72px;
}

.welcomeText span {
  font-size: 20px;
  line-height: 40px;
  
}

.welcomeText {
  box-sizing: border-box;
  color: #4B4A62;
  padding: 26px 31px 26px 0px;
  width: 515px;
}

.welcomeTextInputButton {
  top: 24px;
  position: relative;
  width: 464px;
}

.welcomeTextInputButton input {
  font-size: 20px;
  width: 464px;
  height: 48px;
}

.buttonInInput {
  position: absolute;
  top: 4px;
  right: 3px;
  height: 40px;
}

.wideButton {
  width: 121px;
  font-size: 20px;
}

.welcomeImage {
  top: 30px;
  position: relative;
  max-height: 624px;
  height: 100%;
}

.welcomeImage img[src="src/assets/img/WelcomeSlimlmage.png"] {
  top: 25px;
  position: absolute;
  right: 180px;
}

/* === uniqueWayContainer === */

.uniqueWayContainer {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 140px;
  height: 991px;
  overflow: hidden;
  position: relative;
}

.uniqueWayText h2 {
  display: inline-block;
  margin: 0;
  font-size: 35px;
  line-height: 56px;
  width: 627px;
}

.uniqueWayText {
  text-align: center;
  width: 730px;
  height: 256px;
  padding-bottom: 30px;
}

.uniqueWayText p {
  display: inline-block;
  width: 701px;
  font-size: 18px;
  line-height: 40px;
  color: #4B4A62;
}

.uniqueWayText a {
  text-decoration: none;
  font: 400 20px/32px "Arial", sans-serif;
  color: #8D80D1;
  border-bottom: 1px solid #8D80D1;
}

.uniqueWayContainer img[src="src/assets/img/Cylinder.png"] {
  top: 280px;
  right: 100px;
  position: absolute;
  max-width: 285px;
  width: 100%;
  max-height: 157px;
  height: 100%;
}

/* === dataLiesContainer === */
.dataLiesContainer {
  background-color: #2B2A45;
  height: 2004px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.dataLiesText {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 830px;
  width: 100%;
}

.dataLiesText h3 {
  color: #FFFFFF;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 0;
}

.dataLiesText p {
  text-align: center;
  color: #DFDFE3;
  font-size: 18px;
  line-height: 40px;
}

.dataLiesBoxes {
  display: flex;
}

.dataLiesBoxes p {
  color: #DFDFE3;
  font-size: 16px;
  line-height: 32px;
}

.verticalMiniBox1, .verticalMiniBox2 {
  display: flex;
  flex-direction: column;
}

.verticalMiniBox1 {
  position: relative;
  box-sizing: border-box;
  width: 546px;
  height: 1550px;
  justify-content: space-between;
}

.verticalMiniBox1 img[src="src/assets/img/Cylinder.png"] {
  width: 285px;
  height: 157px;
  position: absolute;
  left: -135px;
  bottom: -40px;
}

.verticalMiniBox2 {
  padding-top: 30px;
  box-sizing: border-box;
  width: 546px;
  height: 1317px;
  justify-content: space-around;
}


.horizontalMiniBox1, .horizontalMiniBox2, .horizontalMiniBox3, .horizontalMiniBox4 {
  overflow: hidden;
  box-sizing: border-box;
  padding: 56px;
  border-radius: 16px;
  background: #373552;
  width: 530px;
}

.horizontalMiniBox1 {
  height: 812px;
}

.horizontalMiniBox2 {
  height: 707px;
}

.horizontalMiniBox4 {
  height: 712px;
}

.horizontalMiniBox3 {
  height: 542px;
  padding-top: 180px;
  position: relative;
}

.horizontalMiniBox1 img {
  padding-top: 10px;
  width: 854px;
  height: 717px;
}

.horizontalMiniBox1 h4 {
  color: #FFFFFF;
  width: 280px;
  font-size: 19px;
  line-height: 40px;
}

.horizontalMiniBox2 h4, .horizontalMiniBox3 h4, .horizontalMiniBox4 h4 {
  color: #FFFFFF;
  font-size: 28px;
  line-height: 40px;
  width: 340px;
}

.horizontalminibox2 img {
  padding-top: 20px;
  width: 669px;
  height: 803px;
}

.horizontalMiniBox3 div {
  padding-top: 100px;
}

.horizontalMiniBox3 h4, .horizontalMiniBox3 p {
  margin: 0;
}

.horizontalMiniBox4 img {
  width: 432px;
  height: 651px;
}

.horizontalMiniBox3 img {
  position: absolute;
  width: 584px;
  height: 763px;
  top: -534px;
}

/* === makesNarrativeUniqueContainer === */

.makesNarrativeUniqueContainer {
  position: relative;
  padding: 96px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #F1F0F9;
}

.makesNarrativeUniqueText {
  text-align: center;
  width: 720px;
}

.makesNarrativeUniqueText p {
  font-size: 20px;
  line-height: 40px;
  color: #4B4A62;
}

.makesNarrativeUniqueText h2 {
  font-size: 32px;
  line-height: 46px;
}

.makesNarrativeUniqueWrap p {
  font-size: 16px;
  line-height: 32px;
  color: #4B4A62;
}

.makesNarrativeUniqueWrap {
  padding-top: 103px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1104px;
  width: 100%;
  justify-content: space-around;
}

.makesNarrativeUniqueWrap h3 {
  font-size: 20px;
  line-height: 28px;
}

.makesNarrativeMiniBox {
  display: flex;
  width: 50%;
}

.makesNarrativeUniqueContainer img[src="src/assets/img/Cylinder.png"] {
  position: absolute;
  width: 285px;
  height: 157px;
  bottom: -80px;
  right: 150px;
}

/* === sharpNimblePersonalContainer === */
.sharpNimblePersonalContainer {
  padding: 11px 0 27px 0;
}

.sharpNimblePersonalText {
  padding: 84px 168px 288px 232px;
  width: 60%;
}

.sharpNimblePersonalText p {
  font-size: 20px;
  line-height: 40px;
  color: #4B4A62;
}

.sharpNimblePersonalText h2 {
  font-size: 40px;
  line-height: 56px;
}


/* === FOOTER === */
.footer {
  width: 1440px;
  background: #2B2A45;
  display: flex;
  justify-content: center;
}

/* === narrativeInActionContainer === */
.narrativeInActionContainer {
  padding-top: 95px;
  position: relative;
  max-width: 1104px;
  width: 100%;
  height: 648px;
  display: flex;
  flex-direction: column;
}

.downToolbar {
  padding-top: 47px;
  height: 327px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.downToolbarText {
  font-size: 15px;
  line-height: 24px;
  align-items: center;
  color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  width: 15%;
}

.narrativeInActionGetDemo, .narrativeInActionAbout {
  display: flex;
  justify-content: space-between;
}

.narrativeInActionAbout {
  padding-bottom: 60px;
}

.narrativeInActionAbout p {
  font-size: 14px;
  color: #DFDFE3;
  line-height: 24px;
}

.narrativeInActionGetDemo {
  align-items: center;
  border-top: 1px solid #FFFEFE1F;
  height: 120px;
}

.narrativeInActionGetDemo h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #FFFFFF;
}

.upperNarrativeInActionBox {
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  position: absolute;
  top: -235px;
  max-width: 1104px;
  width: 100%;
  max-height: 433px;
  height: 100%;
  border-radius: 16px;
  background: #8D80D1;
}

.upperNarrativeInActionBox p {
  font-size: 20px;
  line-height: 40px;
  color: #FFFFFF;
}

.upperNarrativeInActionBox h3 {
  font-size: 23px;
  line-height: 48px;
  color: #FFFFFF;
  width: 343px;
}

.upperNarrativeInActionText {
  padding: 50px 0 60px 64px;
  width: 420px;
}

.upperNarrativeInActionInput {
  position: relative;
  width: 430px;
}

.upperNarrativeInActionInput input {
  font-size: 18px;
  width: 430px;
  height: 48px;
}

.slimButton {
  width: 138px;
  font-size: 18px;
}

.upperNarrativeInActionBox img {
  padding: 30px 0 0 15px;
  width: 795px;
  height: 488px;
}